.alt-screen-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px var(--horizontal-space);
}

.alt-header__column span {
  font-weight: 600;
  font-size: 25px;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:last-child {
  margin-left: auto;
}
